*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    cursor: default;
}

:root{
    --cutomGreen : #91b508;
}

html, body{
    height: 100%;
    width: 100%;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
/*------------Navigation bar----------*/
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 0 150px ;
    height: 145px;
    width: 100%;
    text-transform: uppercase;
    position: fixed;
    z-index: 11;
}

nav img{
    height: 75px;
}
/*------------Background video----------*/
video{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    object-fit: cover;
}
/*------------Cursor----------*/
.cursor{
    width: 20px;
    height: 20px;
    background-color: var(--cutomGreen);
    border-radius: 50%;
    position: fixed;
    z-index: 11;
    transition: all 0.1s ease;
}
.cursorBlur{
    width: 400px;
    height: 400px;
    background-color: #92b50827;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
    transition: all 0.3s ease;
}
/*-------------------------------Main Content---------------------------------*/
.main{
    position: relative;
    background-color: rgb(0, 0, 0, 0.39);
}
/*----------------Page-1-----------------*/
.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9;
}
.page1 > h1{
    margin-top: clamp(50px,26vh,150px);
    font-size: clamp(24px,10vw,150px);
    font-weight: 900;
    position: relative;
}
.page1 > h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -6px;
    left: -6px;
    color: black;
    -webkit-text-fill-color: var(--cutomGreen);
    -webkit-text-stroke-width: 2px;
    z-index: -1;
}
.page1 > h2{
    font-size: clamp(17px,2.5vw,30px);
    font-weight: 800;
    margin-top: clamp(2px,0.6vh,5px);
    margin-bottom: clamp(5px,2vh,10px);
}
.page1 > p{
    width: 55%;
    font-size: clamp(14px,1.2vw,26px);
    text-align: center;
}
/*-------------------Page-2----------------*/
.page2{
    margin-top: clamp(30px,25vh,80px);
    width: 100%;
    min-height: 100vh;
    z-index: 9;
}

/*-------Scroller------*/
.scroller{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: clamp(80px,25vh,130px);
}

.scroller::-webkit-scrollbar{
    display: none;
}

.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4{
    display: inline-block;
    white-space: nowrap;
    font-size: clamp(24px,9vw,100px);
    font-weight: 900;
    margin-right: 20px;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    transition: all linear 0.5s;
}

.scroller h4:hover{
    color: var(--cutomGreen);
    -webkit-text-stroke: #95c11e;
}

/*-----------About Us----------*/
.aboutUs{
    position: relative;
    width: 100%;
    height: 40vh;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.aboutUsText{
    width: 50%;
    text-align: center;
}

.aboutUs img{
    width: clamp(80px,40vw,280px);
    height: clamp(80px,50vh,260px);
    border-radius: 30px;
}

.aboutUs h3{
    font-size: clamp(19px,5vw,54px);
    font-weight: 800;
    margin-bottom: 20px;
}

.aboutUs p{
    font-size: clamp(14px,2vw,18px);
    line-height: clamp(16.8px,1.5rem,26px);
    padding-bottom: 50px;
}

/*-----------Cards----------*/
.cardsContainer{
    margin-top: clamp(50px,20vh,80px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 65vh;
}

.card{
    height: 45%;
    width: 12.5%;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 9;
    transition: all ease 0.7s;
    opacity: 0;
}

.card:hover .overlay{
    opacity: 1;
}

.c1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.c2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.c3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: var(--cutomGreen);
    padding: 10% 5%;
    border-radius: 30px;
    transition: all ease 0.7s;
    opacity: 0;
}

.overlay h4{
    color: #000;
    text-align: center;
    font-size: clamp(10px,3vw,16px);
    font-weight: 800;
    margin-bottom: 5%;
}

.overlay p{
    color: #000;
    font-size: clamp(5px,1vw,9px);
    margin-bottom: 5%;
    padding: 0% 4%;
    font-weight: 400;
}

/*-----------NewsLetter----------*/
.newsletter{
    margin-top: 10%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
}

.newsletter h4{
    width: 45%;
    line-height: clamp(24px,3vw,45px);
    font-size: clamp(16px,3vw,23px);
    font-weight: 800;
    text-align: center;
    color: #000;
}

.newsletter img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}

/*---------------------Page-3--------------------*/
.page3{
    min-height: 100vh;
    width: 100%;
}

/*-----------Food and Drink----------*/
.foodNdrink{
    margin-top: 5%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: clamp(20px,10%,100px);
    align-items: center;
    margin-bottom: 15%;
}

.carousel{
    width: 30%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}
.carousel img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    border-radius: 20px;
    transition: transform 0.9s ease;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 15px;
    bottom: 5px;
}

.outerBorder{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.To1{
    border: 2px solid #91b508;
}

.btn{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid white;
    z-index: 9;
}

.to1{
    background-color: var(--cutomGreen);
}

.bannerTxt{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bannerTxt h4{
    font-size: clamp(18px,3.2vw,30px);
    font-weight: 900;
    margin-bottom: clamp(16px,2.5vh,22px);
}
.bannerTxt .txt{
    font-size: clamp(13px,1.25vw,16px);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: clamp(10px,2vh,25px);
}

button{
    font-weight: 600;
    font-size: clamp(10px,1.5vw,16px);
    margin-top: 5%;
    align-self: flex-start;
    text-align: center;
    width: clamp(110px,16vw,180px);
    height: clamp(30px,7vh,50px);
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid var(--cutomGreen);
    z-index: 10;
    cursor: pointer;
}
button:hover{
    background-color: var(--cutomGreen);
}
/*-----------Quote----------*/
.quote{
    display: flex;
    position: relative;
    justify-content: center;
    height: 60vh;
}

.quote p{
    width: 60%;
    text-align: center;
    font-size: clamp(0px,5vw,30px);
    font-weight: 700;
}
.quote img{
    height: 60px;
    width: min(50px,5vw);
    position: absolute;
}

#colon1{
    left: 16%;
    top: -13%;
}

#colon2{
    right: 18%;
    bottom: 39%;
}

/*---------------------Page-4--------------------*/

.page4{
    height: 40vh;
    width: 100%;
    
}